- name: Install newer version of kubeadm
  package:
    name: kubeadm={{ k8s_version }}-00
    force: yes

- dpkg_selections:
    name: kubeadm
    selection: hold

- name: Drain the node
  shell: kubectl drain --ignore-daemonsets {{ inventory_hostname }}
  delegate_to: "{{ groups['k8s_master'][0] }}"

- name: Upgrade the node through kubeadm
  shell: kubeadm upgrade node

- name: Install newer version of kubelet
  package:
    name: kubelet={{ k8s_version }}-00
    force: yes

- dpkg_selections:
    name: kubelet
    selection: hold

- name: Restart kubelet
  systemd:
    name: kubelet
    state: restarted

- name: Uncordon the node
  shell: kubectl uncordon {{ inventory_hostname }}
  delegate_to: "{{ groups['k8s_master'][0] }}"
