- name: Install newer version of kubeadm
  apt:
    name: kubeadm={{ k8s_version }}-00
    force: yes

- name: Planning cluster upgrade through kubeadm
  shell: kubeadm upgrade plan {{ k8s_version }}
  register: upgrade_plan
  when:
    - is_first_master

- debug: msg="{{ upgrade_plan.stdout }}"
  when:
    - is_first_master

- name: Upgrade first master through kubeadm
  shell: kubeadm upgrade apply -y {{ k8s_version }}
  when:
    - is_first_master

- name: Upgrade other masters through kubeadm
  shell: kubeadm upgrade node
  when:
    - not is_first_master

- name: Install newer version of kubelet
  apt:
    name: kubelet={{ k8s_version }}-00
    force: yes

- name: Restart kubelet
  systemd:
    name: kubelet
    state: restarted
