- name: Unarchive Sonobuoy
  unarchive:
    src: https://github.com/heptio/sonobuoy/releases/download/v0.16.0/sonobuoy_0.16.0_linux_amd64.tar.gz
    dest: /usr/local/bin
    creates: /usr/local/bin/sonobuoy
    remote_src: yes

- name: Run Sonobuoy (quick mode)
  shell: sonobuoy run --wait --mode quick

- name: Get Sonobuoy status
  shell: sonobuoy status
  register: sonobuoy_results

- debug: msg={{ sonobuoy_results.stdout }}

- name: Remove Sonobuoy
  shell: kubectl delete namespace sonobuoy

- name: Run kube-bench for master
  shell: docker run --pid=host -v /etc:/etc:ro -v /var:/var:ro -t aquasec/kube-bench:latest master --version 1.13
  register: kube_bench_results

- debug: msg={{ kube_bench_results.stdout }}
