apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ k8s_apiserver_advertise_address }}"
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: "{{ k8s_version }}"
networking:
  podSubnet: "{{ k8s_pod_subnet }}"
  dnsDomain: "{{ k8s_dns_domain }}"
apiServer:
  certSANs:
    - 127.0.0.1
  extraArgs:
    oidc-client-id: "{{ k8s_oidc_client_id }}"
    oidc-issuer-url: "{{ k8s_oidc_issuer_url }}"
    oidc-username-claim: "{{ k8s_oidc_username_claim }}"
