- name: Initially upgrade the first master
  hosts: k8s_master[0]
  vars:
    mode: "upgrade"
  roles:
    - { role: "k8s_master", is_first_master: true }

- name: Upgrade the other masters
  hosts: k8s_master[1:]
  vars:
    mode: "upgrade"
  roles:
    - { role: "k8s_master", is_first_master: false }

- name: Upgrade nodes one by one
  vars:
    mode: "upgrade"
  serial: 1
  roles:
    - { role: "k8s_node" }
