- name: Install kubectl
  apt:
    name: kubectl=1.15.1-00
    force: yes # force as for some reason a newer version of kubectl is installed before

- name: Initialize through kubeadm
  shell: kubeadm init --apiserver-advertise-address=172.21.0.10 --pod-network-cidr=192.168.0.0/16 >> cluster_initialized.txt
  args:
    chdir: $HOME
    creates: cluster_initialized.txt

- name: Chmod 0600 ~/cluster_initialized.txt
  file:
    path: ~/cluster_initialized.txt
    mode: 0600

- name: Create $HOME/.kube
  file:
    path: ~/.kube
    state: directory

- name: Copy /etc/kubernetes/admin.conf to ~/.kube/config
  copy:
    remote_src: yes
    src: /etc/kubernetes/admin.conf
    dest: $HOME/.kube/config
    mode: 0600

- name: Install Weave
  shell: kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"
  